@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-brand-red: #ff4757;
  --color-almost-black: #1a1a2e;
  --color-light-gray: #f4f5f7;
  --color-mid-gray: #6b7280;
  --color-border-gray: #e5e7eb;
}
